/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $base-color-text;

  background: $color-white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
