/* здесь используйте глобальные переменные */
/* Viewports */
$mobile-width: 320px;
$mobile-width-max: 767px;
$tablet-width: 768px;
$tablet-width-max: 1219;
$desktop-width: 1220px;

$primary-font: "Lato", "Arial", sans-serif;
$secondery-font: "Oswald", "Arial", sans-serif;

/* Color */
$base-color-text: #444444;
$color-black: #000000;
$color-black-1: #111111;
$color-black-2: #222222;
$color-white: #ffffff;
$color-green: #68b738;
$color-grey: #f2f2f2;
$color-grey-dark: #eaeaea;
$color-grey-special:#ebebeb;
$color-gray-3:#e7e7e7;
$color-gray-4: #e9e9e9;


$color-black-3: #3e3e3e;
$color-black-4: #515055;
$color-black-6: #6b6b6b;

$color-green-hover: #5eaa2f;
$color-red: #ff8282;
