/* здесь используйте глобальные переменные */
/* Viewports */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

/* Color */
$color-green: #68b738;
$color-green-hover: #5eaa2f;
$color-red: #ff8282;
$color-white: #ffffff;
$color-black: #000000;
$color-black-1: #111111;
$color-black-2: #222222;
$color-black-3: #3e3e3e;
$color-black-4: #515055;
$color-black-6: #6b6b6b;
