.advantages {
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;

    border-bottom: 1px solid $color-grey-special;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 74px;
    border-bottom: none;
  }
}

.advantages__title {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 324px);
    gap: 38px 59px;

    counter-reset: section;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 37px 80px;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  align-items: center;

  margin: 0;
  min-height: 60px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;

    width: 60px;
    height: 60px;
    background-color: $color-green;
    background-size: 30px 25px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 40px;
      width: 80px;
      height: 80px;
    }

    @media (min-width: $desktop-width) {
      top: 40px;
    }
  }

  &--icon-helpful::before {
    background-image: url("../../icons/stack.svg#icon-helpful");
  }

  &--icon-boiling::before {
    background-image: url("../../icons/stack.svg#icon-boiling");
  }

  &--icon-cutlery::before {
    background-image: url("../../icons/stack.svg#icon-cutlery");
  }

  &--icon-alarm::before {
    background-image: url("../../icons/stack.svg#icon-alarm");
  }

  @media (min-width: $tablet-width) {
    padding: 43px 0 55px;

    &::after {
      counter-increment: section;
      content: counter(section); /* Отображает текущее значение счётчика */
      position: absolute;
      left: 114px;
      top: 2px;
      z-index: -1;

      font-family: $secondery-font;
      font-size: 280px;
      line-height: 280px;
      color: $color-grey;
    }
  }

  @media (min-width: $desktop-width) {
    align-items: start;
  }
}


.advantages__text {
  margin: 0;
  margin-left: 80px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 108px;
    width: 245px;

    font-size: inherit;
    line-height: inherit;
  }

  @media (min-width: $desktop-width) {
    margin-top: 106px;
  }
}

.advantages__text-style br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
