.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto min-content repeat(2, min-content);
  padding: 22px 0 23px;

  @media (max-width: $mobile-width-max) {
    border-bottom: 1px solid $color-grey-special;

    &:first-child {
      border-top: 1px solid $color-grey-special;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto repeat(2, min-content);
    padding: 10px 38px 40px;

    background: linear-gradient(180deg, $color-white 81px, $color-grey 81px, $color-grey 100%);

    border-bottom: none;
  }
}

.card__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/4;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 1/3;
  }
}

.card__list {
  grid-row: 2/4;

  font-size: 12px;
  line-height: 16px;
  color: inherit;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    grid-row: 3/4;

    font-family: $primary-font;
    font-size: inherit;
    line-height: 20px;
  }
}

.card__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 6px 0;
    border-bottom: 1px solid $color-grey-special;
  }
}

.card__item p {
  margin: 0;
}

.card__title-link {
  display: block;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }
}

.card__title {
  margin: 0;
  margin-right: 35px;
  margin-bottom: 12px;

  font-family: $secondery-font;
  font-size: inherit;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  color: $color-black-2;

  @media (min-width: $tablet-width) {
    margin: 22px 55px 14px;

    font-size: 20px;
    line-height: inherit;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 14px 15px 18px;
  }
}

.card__button {
  grid-column: 1/3;
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 29px;
  }

  @media (min-width: $desktop-width) {
    max-width: 169px;
    margin-top: 35px;
  }
}
