.cat-data {
  grid-area: cat-data;

  padding: 24px 0;

  @media (min-width: $tablet-width) {
    padding: 66px 0 72px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.cat-data__input {
  width: 100%;
}
