.container {
  width: 87.5%;
  min-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 92.19%;
    max-width: $tablet-width-max;
  }

  @media (min-width: $desktop-width) {
    width: 84.75%;
    //max-width: 1220px;
  }
}
