.contacts__title {
  font-family: $secondery-font;
  font-size: inherit;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-black-1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.contacts__map {
  height: 362px;
  background-image: url("../../images/map-mobile@1x.webp");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/map-mobile@2x.webp");
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../../images/map-tablet@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/map-tablet@2x.webp");
    }
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    background-image: url("../../images/map-desktop@1x.webp");
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/map-desktop@2x.webp");
    }
  }

  iframe {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
  }
}
