.contacts {
  background-color: $color-grey;

  &--index {
    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-white;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    column-gap: 300px;

    padding: 65px 39px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    right: inherit;

    column-gap: 95px;

    width: 565px;
    padding: 60px 76px;
    background-color: $color-white;
  }
}

.contacts__title {
  margin: 0;
  font-family: $secondery-font;
  font-size: inherit;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-black-1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__address-town {
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
  }
}

.contacts__map {
  width: 100%;
  height: 362px;

  background-image: url("../../images/map-mobile@1x.webp");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/map-mobile@2x.webp");
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../../images/map-tablet@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/map-tablet@2x.webp");
    }
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    background-image: url("../../images/map-desktop@1x.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/map-desktop@2x.webp");
    }
  }

  .contacts__map iframe {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
  }
}
