.extra-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  row-gap: 13px;

  padding-top: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid $color-gray-5;

  &:first-child {
    border-top: 1px solid $color-gray-5;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr min-content;
    gap: 20px 50px;

    padding: 26px 40px;
    border: 1px solid $color-gray-5;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 244px;
    align-items: center;
    gap: 0 40px;

    padding: 15px 0 16px;
    border: none;
    border-bottom: 1px solid $color-gray-5;
  }
}

.extra-card__name {
  margin: 0;

  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-black-2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.extra-card__options {
  display: flex;
  justify-content: space-between;

  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  color: inherit;

  @media (min-width: $tablet-width) {
    gap: 55px;

    font-size: inherit;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 40px;
  }
}

.extra-card__button {
  grid-column: 1/2;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: auto;
  }
}

.extra-card__wrapper {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  color: inherit;

  @media (min-width: $tablet-width) {
    font-size: inherit;
    line-height: 20px;
  }
}
