.extra__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }
}

.extra__title {
  margin-top: 25px;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-top: 71px;
    margin-bottom: 80px;

    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;

    font-size: 40px;
    line-height: 40px;
  }
}

.extra__gift {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
