.extra__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 81px;
  }
}

.extra__gift {
  display: flex;
}

.extra__title {
  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-top: 74px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: 71px;
  }
}
