.form-extra {
  grid-area: form-extra;

  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 60px;
  }
}

.form-extra__list {
  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 34px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 18px 80px;
  }
}

.form-extra__title {
  padding: 22px 0 34px;

  @media (min-width: $tablet-width) {
    padding: 64px 0 57px;
  }

  @media (min-width: $desktop-width) {
    padding: 63px 0 57px;
  }
}
