.form-subscribe {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto 256px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: min-content 256px;

    padding: 0 234px;
  }
}

.form-subscribe__input {
  margin: 0;
  padding: 13px;

  font-family: $secondery-font;
  font-size: 20px;
  line-height: 29.64px;
  color: inherit;

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}
