.form-subscribe__input {
  font-family: $secondery-font;
  font-size: 20px;
  line-height: 29.64px;
  text-align: center;
  color: inherit;
}

.subscription__button {
  font-size: 20px;
  line-height: 26px;
}
