.main-header {
  min-height: 38px;


  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
  }

  @media (min-width: $desktop-width) {
    min-height: 59px;

    align-items: start;

    background-color: transparent;
  }
}

.main-header__wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  padding: 12px 0 13px;

  align-items: center;

  background-color: $color-white;
  border-bottom: 1px solid $color-gray-10;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    border-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr auto;
    padding-top: 55px;
  }
}

.main-header__nav {
  width: 100%;

  background-color: $color-white;

  @media (min-width: $tablet-width) {
    display: block;

    width: auto;
    margin: 0;
    margin-right: 30px;
    padding-inline: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 110px;
    background-color: transparent;
    z-index: 2;
  }
}

.main-header__logo-link {
  display: flex;
  align-items: center;
  gap: 65px;

  margin-left: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-right: 13px;
    margin-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
  }
}

.main-header__logo-link--text {
  @media (min-width: $tablet-width) {
    margin-right: 13px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.main-header__logo img {
  display: block;
}
