.slider {
  position: relative;
  margin: 0 auto 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.slider__button {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

  width: 4px;
  height: 100%;
  padding: 0;

  background-color: $color-grey-dark;
  border: 0;
  border-radius: 2px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-white;
    border-radius: 50%;
    border: 2px solid #666666;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    mask-image: url("../../icons/stack.svg#slider-arrow");
    mask-repeat: no-repeat;
    background-color: #666666;

    @media (min-width: $tablet-width) {
      top: 46%;
    }

    @media (min-width: $desktop-width) {
      top: 61%;
    }
  }

  &:hover,
  &:focus-within {
    background-color: $color-green;

    &::before {
      border-color: $color-green;
    }

    &::after {
      background-color: $color-green;
    }
  }

  &:active {
    background-color: $color-green-active;
    opacity: 0.6;

    &::before {
      border-color: rgba(94, 170, 47, 0.6);
    }

    &::after {
      background-color: $color-green-active;
      opacity: 0.6;
    }
  }

  @media (min-width: $desktop-width) {
    height: calc(100% - 135px);
  }
}

.slider__slade {
  display: flex;
  height: 100%;
  width: 50%;
  overflow: hidden;
  background-color: $color-grey;

  &--before {
    position: relative;
    z-index: 2;
  }

  &--after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    justify-content: flex-end;
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.slider__image {
  max-width: 280px;

  @media (min-width: $tablet-width) {
    max-width: 560px;
  }
}
