.subscription {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 81px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 95px 0 103px;
  }
}

.subscription__title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;

    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;

    font-size: 40px;
    line-height: 40px;
  }
}

.subscription__discription {
  margin: 0;
  margin-bottom: 24px;

  font-family: $secondery-font;
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  color: $color-black;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}

.subscription__button {
  margin-top: 18px;
  padding: 14px 26px;

  font-size: 20px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 10px 15px;
  }
}
