.title {
  margin: 0;
  padding: 0;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.title--line {
  position: relative;

  width: fit-content;

  background-color: $color-white;
  box-shadow: -40px 0 0 0 $color-white, 40px 0 0 0 $color-white;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100vw;
    right: 0;
    top: 10px;

    box-shadow: 100vw 0 0 0 $color-green;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 15px;
      background-color: $color-green;
    }

    &::after {
      margin-top: 24px;
    }
  }
}
